{
  "extends": "./../.eslintrc",
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "func-names": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
