{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    mocha: true
  },
  "rules": {
    "object-curly-spacing": [2, "never"],
    "comma-dangle": [2, "never"],
    "no-unused-vars": 1
  }
}
