{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["**/*.js"]
}
