{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "object-curly-spacing": [2, "never"],
    "comma-dangle": [2, "never"],
    "no-unused-vars": 1,
    "no-plusplus": 1,
    "quote-props": 1
  }
}
