language: node_js
sudo: false
node_js:
  - "4"
  - "6"
  - "stable"

env:
  global:
    - CODACY_PROJECT_TOKEN=b6260eef3f26437e8192b3fac47a4edf

before_script:
  - date --rfc-2822

script:
  - npm test
  - npm run lint
  - npm run test:coverage

after_script:
  - cat coverage/lcov.info | codacy-coverage
